* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* This helps with sizing calculations */
}
body{
  flex-direction: column;
  align-content: center;
  justify-content: center;
  background-color: #efffdb;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  height: auto;
  background-color: #a8df8e;
}
.logo{
  height: 60px; /* Adjust size to fit your header */
  width: auto;
  margin-right: 15px;
}
.uni{
  font-size: 50px;
  margin: 0 auto;
}
/*second header*/
.second_header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  height: 35px;
  background-color: #ffd8df;
}
/*class of buttons*/
.content{
  display: flex;
  flex-direction: column;
  align-items: center;     /* Centers boxes horizontally */
  justify-content: center; /* Centers boxes vertically in the remaining space */
  flex-grow: 1;
}
/*for the layout of the box*/
.clickable-box, .clickable-letter {
  display: inline-block;   /* IMPORTANT: Keeps the clickable area only on the box */
  text-decoration: none;
  color: inherit;
  margin-bottom: 20px;     /* Space between the big box and the rectangle */
}
/*hover design for my clickable student*/
.clickable-box:hover #books {
  transform: scale(1.1); /* Makes the books pop when you hover the box */
} 
.box{
  display: flex;
  justify-content: center;
  border-radius: 10px;
  height: 450px;
  width: 450px;
  margin: auto;
  border: 13px solid;
  border-color: #a8df8e;
  background-color: #93d574;
}
/*position for the box of student*/
#box1{
  margin-top: 55px;
}
/*Book icon */
#books{
  height: 400px;
  width: 350px;
  transition: transform 0.3s ease;
}
/*Subject Clickable button*/
.rectangle{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 450px;
  border: 13px solid #a8df8e;
  background-color: #93d574;
  border-radius: 10px;

  /* Font details */
  color: black;
  font-weight: bold;
  font-size: 50px;
  font-family: 'Michroma', sans-serif; 
}
