<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/About_style.css">
    <title>Document</title>
</head>
<body>
    <header>

        <img src="../static/pics/logo.png" class="logo" alt="TU Logo">
        <h4 div class = "uni">TEAMBA UNIVERSITY</h4>  

    </header>
      <!--this is the second header we're y'all see the bottons of home andd arrows-->
    <div class = "second_header">
        <div class="nav-arrows">
            <a href="button.html" class="back-icon">
                <img src="../static/pics/keyboard_arrow_left_24dp_1F1F1F.svg">
            </a>
        </div>
        <ul class="nav-menu">
            <li class="dropdown-container">
                <a href="#" class="trigger">...</a>
                <ul class="dropdown-menu">
                    <li>
                       <a href="{{ url_for('login') }}">Login</a>
                        <a href="Login_page.html">Log out</a>
                    </li>
                    <li><a href="About_page.html" class="active">About</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="container">
        <div class="group">
            <div class="word_box">Teamba Academy
is a specialized web platform built to bridge the gap between students and teachers in a high school setting. It serves as a digital campus where administrative tasks like choosing classes and managing rosters are handled through a clean, intuitive interface.
            </div>

            <div class="box">
                <img src="../static/pics/about_pic.jpg" alt="pic">
            </div>
        </div>
    </div>
</body> 
</html>