<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/buttons_style.css">
    <title>Teamba University</title>
</head>
<body>
<header>
    <img src="/static/pics/logo.png" class="logo" alt="TU Logo">
    <h4 class="uni">TEAMBA UNIVERSITY</h4>
</header>

<div class="second_header">
    <ul class="nav-menu">
        <li class="dropdown-container">
            <a href="#" class="trigger">...</a>
            <ul class="dropdown-menu">
                <li><a href="/">Log out</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </li>
    </ul>
</div>

<div class="container">
    <div class="group">
        <a href="/students" class="clickable-box">
            <div class="box">
                <img src="/static/pics/user-graduate-solid.svg" alt="student">
            </div>
        </a>
        <a href="/students" class="stud">
            <div class="rec">Student</div>
        </a>
    </div>

    <div class="group">
        <a href="/subjects" class="clickable-box">
            <div class="box">
                <img src="/static/pics/books.svg" alt="books">
            </div>
        </a>
        <a href="/subjects" class="clickable-letter">
            <div class="rec">Subjects</div>
        </a>
    </div>

    <div class="group">
    <a href="/teachers" class="clickable-box">
        <div class="box">
            <img src="/static/pics/teacher-logo.svg" alt="teacher">
        </div>
    </a>
    <a href="/teachers" class="teach">
        <div class="rec">Teacher</div>
    </a>
</div>

</div>
</body>
</html>

