<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/Subject_style.css">
    <title>Subject Table</title>
</head>
<body>
<header>
    <img src="/static/pics/logo.png" class="logo" alt="TU Logo">
    <h4 class="uni">TEAMBA UNIVERSITY</h4>
</header>

<div class="second_header">
    <div class="nav-arrows">
        <a href="/button" class="back-icon">
            <img src="/static/pics/keyboard_arrow_left_24dp_1F1F1F.svg">
        </a>
    </div>

    <ul class="nav-menu">
        <li class="dropdown-container">
            <a href="#" class="trigger">...</a>
            <ul class="dropdown-menu">
                <li><a href="/">Log out</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </li>
    </ul>
</div>

<div class="main-content">
    <div class="box" id="box1"></div>
    <div class="rec" id="rec2">Subject Table</div>
</div>
</body>
</html>
