<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/buttons_style.css">
    <title>Teamba University</title>
</head>
<body>
    <header>
        <img src="../pics/logo.png" class="logo" alt="TU Logo">
        <h4 div class = "uni">TEAMBA UNIVERSITY</h4>
    </header>

    <!--this is the second header we're y'all see the bottons of home andd arrows-->
   <div class="second_header">
        <ul class="nav-menu">
            <li class="dropdown-container">
                <a href="#" class="trigger">...</a>
                <ul class="dropdown-menu">
                    <li><a href="Login_page.html">Log out</a></li>
                    <li><a href="About_page.html">About</a></li>
                </ul>
            </li>
        </ul>
    </div>

    <!--main content-->
<div class="container">
    <div class="group">
        <a href="#" class="clickable-box">
            <div class="box">
                <img src="../pics/user-graduate-solid.svg" alt="student">
            </div>
        </a>  
        <a href="" class="stud">
            <div class="rec">Student</div> 
        </a> 
    </div>
    <div class="group">
        <a href="Subject_Table.html" class="clickable-box">
            <div class="box">
                <img src="../pics/books.svg" alt="books">
            </div>
        </a>
        <a href="page4.html" class="clickable-letter">
            <div class="rec" >Subjects</div>
        </a>
    </div>
    <div class="group">
        <a href="#" class="clickable-box">
            <div class="box">
                <img src="../pics/teacher-logo.svg" alt="teacher">
            </div>
        </a>
        <a href="" class="teach">
            <div class="rec">Teacher</div>
        </a>
    </div>
</div>
</body>
</html>